<a href="https://colab.research.google.com/github/Udaykiran06-art/PANDAS-DATAFRAME---GROUPBY/blob/main/PANDAS_DF_GROUPBY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Creating products DataFrame
import pandas as pd
d = {
    "Product":["Samsung","Nokia","Samsung","Motorola","Nokia","Samsung","Samsung"],
    "Orders":[2,4,3,4,6,7,3]
}
df1 = pd.DataFrame(d)
print(df1)

    Product  Orders
0   Samsung       2
1     Nokia       4
2   Samsung       3
3  Motorola       4
4     Nokia       6
5   Samsung       7
6   Samsung       3

In [ ]:
#Creating products DataFrame,applying groupby
import pandas as pd
d = {
      "Product":["Samsung","Nokia","Samsung","Motorola","Nokia","Samsung","Samsung"],
      "Orders":[2,4,3,4,6,7,3]
}
df1 = pd.DataFrame(d)
grouped = df1.groupby(["Product"])
result = grouped.sum()
print(df1)
print()
print(result)

    Product  Orders
0   Samsung       2
1     Nokia       4
2   Samsung       3
3  Motorola       4
4     Nokia       6
5   Samsung       7
6   Samsung       3

          Orders
Product
Motorola       4
Nokia         10
Samsung       15

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving sales5.csv to sales5.csv

In [ ]:
#Get the number of product on dates
import pandas as pd
df1 = pd.read_csv("sales5.csv")
grouped = df1.groupby("Mail_Id")
result = grouped.size()
print(result)

Mail_Id
Daniel@gmail.com       3
kedar@gmail.com        3
nirekshan@gmail.com    4
partha@gmail.com       1
prasad@gmail.com       3
shahid@gmail.com       1
dtype: int64

In [ ]:
#Get the number of product on count
import pandas as pd
df1 = pd.read_csv("sales5.csv")
grouped = df1.groupby(["Product_Name"])
result = grouped.size()
print(result)

Product_Name
Kindle Paper White    3
LG Washing Machine    1
Samsung               3
Sofa set              1
hTC mobile            2
iPad                  1
iPhone 8              3
iPhone 9              1
dtype: int64

In [ ]:
#How many products sold out on each month?
import pandas as pd
df1 = pd.read_csv("sales5.csv")
cols = ['Date','Product_Name']
grouped = df1.groupby(cols)['Date']
result =grouped.count()
print(result)

Date        Product_Name
10/31/2019  Kindle Paper White    1
11/10/2019  hTC mobile            1
11/2/2019   Samsung               2
            hTC mobile            1
11/6/2019   Samsung               1
            iPhone 8              2
            iPhone 9              1
9/1/2019    iPad                  1
9/2/2019    LG Washing Machine    1
9/6/2019    Kindle Paper White    2
            Sofa set              1
            iPhone 8              1
Name: Date, dtype: int64

In [ ]:
#Product wise each month sales
import pandas as pd
df1 = pd.read_csv("sales5.csv")
cols = ["Product_Name","Date"]
grouped = df1.groupby(cols)['Date']
result =grouped.count()
print(result)

Product_Name        Date
Kindle Paper White  10/31/2019    1
                    9/6/2019      2
LG Washing Machine  9/2/2019      1
Samsung             11/2/2019     2
                    11/6/2019     1
Sofa set            9/6/2019      1
hTC mobile          11/10/2019    1
                    11/2/2019     1
iPad                9/1/2019      1
iPhone 8            11/6/2019     2
                    9/6/2019      1
iPhone 9            11/6/2019     1
Name: Date, dtype: int64

In [ ]:
#Customer wise each month sales
import pandas as pd
df1 = pd.read_csv("sales5.csv")
cols = ["Mail_Id","Date"]
grouped = df1.groupby(cols)['Mail_Id']
result = grouped.count()
print(result)

Mail_Id              Date
Daniel@gmail.com     10/31/2019    1
                     9/6/2019      2
kedar@gmail.com      11/6/2019     2
                     9/6/2019      1
nirekshan@gmail.com  11/2/2019     2
                     11/6/2019     1
                     9/6/2019      1
partha@gmail.com     11/6/2019     1
prasad@gmail.com     11/10/2019    1
                     11/2/2019     1
                     9/2/2019      1
shahid@gmail.com     9/1/2019      1
Name: Mail_Id, dtype: int64

In [ ]:
#Customer wise product details
import pandas as pd
df1 = pd.read_csv("sales5.csv")
cols = ["Mail_Id","Product_Name"]
grouped = df1.groupby(cols)["Product_Cost"]
result = grouped.sum()
print(result)

Mail_Id              Product_Name
Daniel@gmail.com     Kindle Paper White    20000
                     Sofa set              50000
kedar@gmail.com      iPhone 8              60000
nirekshan@gmail.com  Kindle Paper White    20000
                     Samsung               30000
partha@gmail.com     iPhone 9              30000
prasad@gmail.com     LG Washing Machine    25000
                     hTC mobile            30000
shahid@gmail.com     iPad                  70000
Name: Product_Cost, dtype: int64

In [ ]:
#Customer wise product details
import pandas as pd
df1 = pd.read_csv("sales5.csv")
cols = ["Mail_Id","Product_Name"]
grouped = df1.groupby(cols,as_index=False)["Product_Cost"]
result = grouped.sum()
print(result)

               Mail_Id        Product_Name  Product_Cost
0     Daniel@gmail.com  Kindle Paper White         20000
1     Daniel@gmail.com            Sofa set         50000
2      kedar@gmail.com            iPhone 8         60000
3  nirekshan@gmail.com  Kindle Paper White         20000
4  nirekshan@gmail.com             Samsung         30000
5     partha@gmail.com            iPhone 9         30000
6     prasad@gmail.com  LG Washing Machine         25000
7     prasad@gmail.com          hTC mobile         30000
8     shahid@gmail.com                iPad         70000

In [ ]:
#Customer wise product details
import pandas as pd
df1 = pd.read_csv("sales5.csv")
cols = ["Mail_Id"]
grouped = df1.groupby(cols)["Product_Cost"]
result = grouped.sum()
print(result)

Mail_Id
Daniel@gmail.com       70000
kedar@gmail.com        60000
nirekshan@gmail.com    50000
partha@gmail.com       30000
prasad@gmail.com       55000
shahid@gmail.com       70000
Name: Product_Cost, dtype: int64

In [ ]:
#Product wise whole sales
import pandas as pd
df1 = pd.read_csv("sales5.csv")
cols = ["Product_Name"]
grouped = df1.groupby(cols)['Product_Cost']
result = grouped.sum()
print(result)

Product_Name
Kindle Paper White    40000
LG Washing Machine    25000
Samsung               30000
Sofa set              50000
hTC mobile            30000
iPad                  70000
iPhone 8              60000
iPhone 9              30000
Name: Product_Cost, dtype: int64

In [ ]:
#Day wise product sales
import pandas as pd
df1 = pd.read_csv("sales5.csv")
cols = ["Date"]
grouped = df1.groupby(cols)['Product_Cost']
result = grouped.sum()
print(result)

Date
10/31/2019     10000
11/10/2019     15000
11/2/2019      35000
11/6/2019      80000
9/1/2019       70000
9/2/2019       25000
9/6/2019      100000
Name: Product_Cost, dtype: int64

In [ ]:
#Describe method
import pandas as pd
df1 = pd.read_csv("sales5.csv")
df2 = df1["Product_Cost"].describe()
print(df2)

count       15.000000
mean     22333.333333
std      16888.993316
min      10000.000000
25%      10000.000000
50%      20000.000000
75%      22500.000000
max      70000.000000
Name: Product_Cost, dtype: float64

In [ ]:
#Applying a single function to columns in groups
import pandas as pd
df1 = pd.read_csv("sales5.csv")
d = {
    "Product_Cost":sum
}
cols = ['Date','Product_Name']
grouped = df1.groupby(cols)
result = grouped.agg(d)
print(result)

                               Product_Cost
Date       Product_Name
10/31/2019 Kindle Paper White         10000
11/10/2019 hTC mobile                 15000
11/2/2019  Samsung                    20000
           hTC mobile                 15000
11/6/2019  Samsung                    10000
           iPhone 8                   40000
           iPhone 9                   30000
9/1/2019   iPad                       70000
9/2/2019   LG Washing Machine         25000
9/6/2019   Kindle Paper White         30000
           Sofa set                   50000
           iPhone 8                   20000

/tmp/ipython-input-4106281892.py:9: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  result = grouped.agg(d)

In [ ]:
#Applying a single function to columns in groups
import pandas as pd
df1 = pd.read_csv("sales5.csv")
d = {
    'Product_Cost':sum,
    'Product_Name':"count"
}
cols = ['Date','Product_Name']
grouped = df1.groupby(cols)
result = grouped.agg(d)
print(result)

                               Product_Cost  Product_Name
Date       Product_Name
10/31/2019 Kindle Paper White         10000             1
11/10/2019 hTC mobile                 15000             1
11/2/2019  Samsung                    20000             2
           hTC mobile                 15000             1
11/6/2019  Samsung                    10000             1
           iPhone 8                   40000             2
           iPhone 9                   30000             1
9/1/2019   iPad                       70000             1
9/2/2019   LG Washing Machine         25000             1
9/6/2019   Kindle Paper White         30000             2
           Sofa set                   50000             1
           iPhone 8                   20000             1

/tmp/ipython-input-2707381847.py:10: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  result = grouped.agg(d)

In [ ]:
#Applying a single function to columns in groups
import pandas as pd
df1 = pd.read_csv("sales5.csv")
d = {
    "Product_Name":[min,max,sum]
}
col = ["Product_Cost"]
grouped = df1.groupby(col)
result = grouped.agg(d)
print(result)

                    Product_Name                      \
                             min                 max
Product_Cost
10000         Kindle Paper White             Samsung
15000                 hTC mobile          hTC mobile
20000         Kindle Paper White            iPhone 8
25000         LG Washing Machine  LG Washing Machine
30000                   iPhone 9            iPhone 9
50000                   Sofa set            Sofa set
70000                       iPad                iPad


                                                            sum
Product_Cost
10000         SamsungKindle Paper WhiteSamsungKindle Paper W...
15000                                      hTC mobilehTC mobile
20000                iPhone 8iPhone 8iPhone 8Kindle Paper White
25000                                        LG Washing Machine
30000                                                  iPhone 9
50000                                                  Sofa set
70000                                                      iPad

/tmp/ipython-input-2741429762.py:9: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  result = grouped.agg(d)
/tmp/ipython-input-2741429762.py:9: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  result = grouped.agg(d)
/tmp/ipython-input-2741429762.py:9: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  result = grouped.agg(d)